.app-layout {
  display: flex;
  min-height: 100vh;
}

/* Columnas difuminadas */
.side-blur {
  flex: 0 0 200px;
  background-image: url("./src/components/img/perito.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(0.6);
}

/* Contenido central */
.main-content {
  flex: 1;
  background-color: white;
  z-index: 1;
  padding: 20px;
  overflow-y: auto;
}

/* 📱 Adaptación a móvil */
@media (max-width: 768px) {
  .side-blur {
    display: none; /* Ocultamos bordes en móvil */
  }

  .main-content {
    flex: 1 1 100%;
    padding: 15px;
  }
}
